requests
httpx
fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
asyncpg
tensorflow-cpu==2.20.0
pandas
numpy
prometheus-api-client
locust
joblib
scikit-learn==1.6.1
prometheus-client
python-multipart
aiohttp
streamlit
streamlit-autorefresh
plotly
matplotlib
keras>=3.0.0
